@charset "utf-8";
/* CSS Document */

.mb-breadCrumb{
    display: none;
}
.mb{
    display: none;
}
/*============================ Menu Mobile ============================*/
#cssmenu .logo {
/*
    position: relative;
    z-index: 123;
    padding: 10px;
    font: 18px verdana;
    color: #6DDB07;
    float: left;
    width: 15%
*/
    display: none;
}
/*
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#cssmenu #head-mobile {
    display: none;
}
#cssmenu > ul > li > a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
}
*/
@media screen and (max-width:768px) {
    #cssmenu .logo {
        position: absolute;
        top: 0;
        left: 20px;
        height: 32px;
        display: block;
        padding: 0;
        margin-top: 7px;
    }
    #cssmenu .logo a{
        height: 100%;
    }
    #cssmenu .logo a img{
        height: 100%;
    }
    .logo2 {
        display: none
    }
    nav {
        width: 100%;
    }
    #cssmenu {
        width: 100%
    }
    #cssmenu ul {
        width: 100%;
        padding: 0;
        display: none;
        background: #f55197;
        position: absolute;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2)
    }
    #cssmenu ul li {
        width: 100%;
    }
    #cssmenu ul li:hover {
        background: #363636;
    }
    #cssmenu ul li a{
        width: 100%;
        border-bottom: 0;
        color: #fff;
    }
    #cssmenu li.current, 
    #cssmenu li:hover{
        box-shadow: none;
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before{
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 20px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }
    .button {
        width: 32px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        border: 1px solid #ec008c;
        border-radius: 5px;
        padding-left: 2px;
    }
    .button:after {
        position: absolute;
        display: block;
        top: 10px;
        height: 3px;
        width: 26px;
        border-top: 3px solid #ec008c;
        border-bottom: 3px solid #ec008c;
        content: ''
    }
    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        display: block;
        height: 3px;
        width: 26px;
        top: 4px;
        background: #ec008c;
        content: '';
    }
    .button.menu-opened{
        background: #ec008c;
    }
    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 10px;
        left: 4px;
        border: 0;
        height: 3px;
        width: 22px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .button.menu-opened:before {
        top: 10px;
        left: 4px;
        background: #fff;
        width: 22px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}
/*============================ End Menu Mobile ============================*/
@media screen and (max-width:768px){
    body{
        background: #fff;
    }
    .mb{
        display: block;
    }
    
    
    .box-1280,
    .logo,
    .search-top{
        width: 100%;
    }
    
    .box-1280.flex{
        display: block;
    }
    
    .search-top input[type=search]{
        width: inherit;
    }
    .bottom-header{
        height: inherit;
    }
    .main-menu,
    .sp-daxem,
    .sologan{
        display: none;
    }
}
@media screen and (max-width:736px){
    .home_slide .swiper-pagination {
        top: 78%;
    }
    .home_slide .text-content{
        border-left: 2px solid #f55197;
    }
}
@media screen and (max-width:609px){
    /************************ Other video ************************/
 
}
@media screen and (max-width:568px){
    
}
@media screen and (max-width:480px){
    
}
@media screen and (max-width:412px){
  
}
@media screen and (max-width:360px){
    
}
@media screen and (max-width:320px){
  
}