@import "../css/mobile-menu.css";
@charset "utf-8";
/* CSS Document */

.mb-breadCrumb{
    display: none;
}
.mb{
    display: none;
}

@media screen and (max-width:768px){
    /*============= Home =============*/
    body{
        background: #fff;
    }
    .mb{
        display: block;
    }
    
    
    .box-1280,
    .logo,
    .search-top,
    .basket-page,
    .banner-slider,
    .chung-nhan,
    .home-cate-main .right,
    .home-cate-main,
    .main_content .leftprimary,
    .main_content > .wrap,
    .home_slide,
    .home_hotnew,
    .styleBa .itemnews-box .itemnews,
    .styleBa .itemnews-box .itemnews:first-child, 
    .styleBa .itemnews-box .itemnews:nth-child(2), 
    .styleBa .itemnews-box .itemnews:nth-child(3),
    .styleMot .itemnews-box .itemnews:first-child,
    .styleMot .itemnews-box .itemnews,
    .detail_content .thumb{
        width: 100%;
    }
    
    .box-1280.flex{
        display: block;
    }
    
    .search-top input[type=search]{
        width: inherit;
    }
    .bottom-header{
        height: inherit;
    }
    .main-menu,
    .sp-daxem,
    .sologan,
    .ads-top,
    .ads-content,
    .ads-left,
    .home-cate-main .left,
    .menu-footer,
    .main_content .rightprimary{
        display: none;
    }
    .bottom-header{
        padding: 15px;
        text-align: center;
    }
    .basket-page{
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        margin-top: 10px;
    }
    .contact-top{
        margin-left: 15px;
    }
    .chung-nhan{
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
   
    }
    .chung-nhan > div{
        width: 48%;
        margin: 0.5% 1%;
    }
    .partner{
        width: 95%;
        height: auto;
        margin: 30px auto 20px;
        padding: 5px 50px 10px;
    }
    .wrapt-item-02{
        width: 29%;
        margin: 3% 2%;
    }
    .home-cate-header{
        margin-top: 15px;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 100%;
        position: relative;
    }
    .footer-content .box-1280{
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .footer-content > div > div{
        width: 49%;
    }
    .footer-bottom,
    .copyright{
        text-align: center;
    }
    .footer-bottom > div > div:first-child,
    .footer-bottom > div > div:nth-child(2),
    .footer-bottom > div > div:last-child{
        width: 100%;
    }
    .footer-bottom > div > div:last-child > ul,
    .footer-call,
    .copyright  ul {
        justify-content: center;
        -webkit-justify-content: center;
    }
    /*============= End Home =============*/
    /*============= Detail =============*/
    .bread-crumb .button{
        display: none;
    }
    .detail-item-box{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .item-center,
    .detail-item-info .left,
    .form-danhgia .comment_bottom{
        width: 100%;
    }
    .detail-item-info .right{
        display: none;
    }
    .item-img{
        width: 355px;
    }
    .item-info{
        width: calc(100% - 370px)
    }
    
    .item-center >div{
        height: inherit;
    }
    .tabs-slider-detail .wrapt-item-02{
        width: 65%;
    }
    .detail-item-title h1{
        line-height: 30px;
    }
    .form-danhgia .input-triple input{
        width: 100%;
        margin-bottom: 10px;
    }
    .detail-table .bottom > div:first-child p span,
    .detail-table .bottom > div:first-child h5 span{
        width: 135px;
    }
    .detail-item-title h1 > span{
        display: block;
        margin-left: 0;
    }
    /*============= End Detail =============*/
    /*============= Home Cate =============*/
    .home-cate-main{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .home-cate .left{
        display: block;
        width: 100%;
    }
    .fillter .fillter-select:nth-child(2){
        padding-top: 15px;
    }
    .fillter-select{
        padding: 0px 10px 5px;
    }
    .fillter-select-title .drop-menu{
        display: block;
    }
    .fillter-select-wrapt.drop-item{
        display: none;
    }
    .fillter-select-title{
        border-bottom: none;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .right .home-cate-header{
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .right .home-cate-header:not(.bottom) > p:nth-child(2){
        text-align: right;
    }
    .right .home-cate-header h1,
    .right .home-cate-header > p{
        width: 50%;
    }
    /*============= End Home Cate =============*/
/*
    .wrap-page, .leftprimary, .home_slide, .home_hotnew, .hot_video_box, .hot_video_comment, .hot_video_more, .video_thumb, .styleMot .itemnews-box .itemnews:first-child, .styleMot .itemnews-box .itemnews, .styleBa .itemnews-box .itemnews:first-child, .styleBa .itemnews-box .itemnews:nth-child(2), .styleBa .itemnews-box .itemnews:nth-child(3), .styleBa .itemnews-box .itemnews, .videostyle .itemnews-box .itemnews:first-child, .half, .leftfooter, .rightfooter, .detail_content .thumb, .content_recoment .thumb, .content_recoment .content_text, .category_box{
        width: 100%;
    }
*/  
    .hot_video, .video_thumb, 
    .hotnew_img, 
    .half .itemnews-box .itemnews:first-child .thumb, 
    .styleMot .itemnews-box .itemnews:first-child .thumb, 
    .videostyle .itemnews-box .itemnews:first-child .thumb, 
    .videostyle .itemnews-box .itemnews .thumb, 
    .styleBa .itemnews-box .itemnews:first-child, 
    .styleBa .itemnews-box .itemnews:nth-child(2), 
    .styleBa .itemnews-box .itemnews:nth-child(3), 
    .styleBa .itemnews-box .itemnews:first-child .thumb, 
    .styleBa .itemnews-box .itemnews:nth-child(2) .thumb, 
    .styleBa .itemnews-box .itemnews:nth-child(3) .thumb, 
    .styleBon, .detail_content .thumb, .content_recoment .thumb, 
    .styleBon .hotnew_content{
        height: inherit;
    }
    
    .styleBa .itemnews-box .itemnews:first-child, 
    .styleBa .itemnews-box .itemnews:nth-child(2), 
    .styleBa .itemnews-box .itemnews:nth-child(3){
        max-height: inherit;
    }
    .screenprimary{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .home_hotnew{
        margin-top: 10px;
    }
    .home_hotnew,
    .styleBa .itemnews-box .itemnews:nth-child(2){
        margin-left: 0;    
    }
    .text-content h3{
        margin-top: 0;
    }
    .cate-item{
        display: none;
    }
}
@media screen and (max-width:650px){
    .item-img,
    .item-info,
    .detail-table .bottom > div .btn-muangay{
        width: 100%;
    }
    .btn-danhgia{
        height: auto;
        padding: 3px 2px;
    }
}

@media screen and (max-width:609px){
    /*============= Home =============*/
    .wrapt-item-02{
        width: 46%;
    }
    .item-content h4{
        height: 55px;
    }
    .copyright ul{
        margin-top: 5px;
    }
    /*============= End Home =============*/
}

@media screen and (max-width:480px){
    /*============= Home =============*/
    .top-header ul{
        width: 100%;
    }
    .top-header ul li:nth-child(2),
    .top-header ul li:nth-child(3){
        display: none;
    }
    .chung-nhan > div{
        width: 100%;
    }
    .home-cate-header h1{
        line-height: 20px;
    }
    .home-cate-header button{
        width: 200px;
    }
    .partner{
        padding: 5px 20px 10px;
    }
    .footer-about figure,
    .footer-content h3{
        margin-bottom: 0;
    }
    .footer-content{
        text-align: center;
    }
    .footer-content > div > div{
        width: 100%;
    }
    /*============= End Home =============*/
    /*============= Detail =============*/
    .btn-muangay p{
        font-size: 18px;
    }
    .detail-table-info > div > p:first-child{
        width: 140px;
    }
    /*============= End Detail =============*/
    /*============= Home Cate =============*/
    .right .home-cate-header h1{
        margin-bottom: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .right .home-cate-header h1, 
    .right .home-cate-header > p{
        width: 100%;
    }
    .right .home-cate-header > p,
    .right .home-cate-header:not(.bottom) > p:nth-child(2){
        text-align: left;
        font-size: 14px;
    }
    .pagination-style{
        position: absolute;
        top: 20px;
        right: 0;
    }
    .right .home-cate-header.bottom  .pagination-style{
        top: 0;
    }
    /*============= End Home Cate =============*/
}
@media screen and (max-width:412px){
    .detail-table .bottom > div{
        padding: 10px 15px;
    }
}
@media screen and (max-width:360px){
    .tabs-slider-detail .swiper-slide figure, .swiper-slide figure img{
        width: auto;
    }
}
@media screen and (max-width:320px){
  
}