body,
html {
    height: 100%;
}
nav {
    display: block;
}
.right {
    float: right;
    margin-left: 1em;
}
/* ----------------------------- */
/* == Menu */
/* ----------------------------- */
.menu-wrapper {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    padding: 30px 25px 28px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
/*
    font-family: 'Economica', sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #b92120;
*/
    /* the hidden link for RWD nav */
    /* the rest of the menu lvl 1 */
    /* current links */
    /* submenu ! */
    /* unhide the 2nd level */
}
.menu-wrapper:after{
    content: '';
    width: 100%;
    height: 23px;
    background: url(../img/bg/bg-menu.png) no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    top: 100%;
}
.menu-wrapper .menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
/*    text-align: center;*/
}

.menu-wrapper .menu > li {
    position: relative;
/*    padding: 0.7em 0;*/
    display: inline-block;
    padding: 0 5px 0 15px;
}
.menu-wrapper .menu > li:nth-child(even):after,
.menu-wrapper .menu > li:nth-child(odd):not(:first-child):after{
    content: '';
    width: 5px;
    height: 45px;
    background: url(../img/menu-shadow-left.png) no-repeat;
    position: absolute;
    left: 0;
    top: -10px;
}
.menu-wrapper .menu > li:nth-child(odd):not(:first-child):after{
    background: url(../img/menu-shadow-right.png) no-repeat;
}
.menu-wrapper ul.menu,
.menu-wrapper a.menu-link {
/*
    border-top: 1px dashed #dd4949;
    border-bottom: 1px dashed #dd4949;
*/
}
.menu-wrapper a.menu-link {
    display: none;
/*
    padding: 0.7em 0;
    background: #b92120;
*/
}
.menu-wrapper a {
    display: block;
    position: relative;
    line-height: 1.3em;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
/*
    padding: 0 0.5em;
    margin: 0 0.2em;
    border-bottom: 1px solid transparent;
*/
}
.menu-wrapper a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-wrapper .menu > .current-menu-item > a,
.menu-wrapper .menu > .current-menu-ancestor > a {
    position: relative;
    z-index: 12;
/*
    background: #f5d4d4;
    color: #b92120;
    border-bottom: 1px solid transparent;
*/
}
.menu-wrapper .menu > .current-menu-item > a:hover,
.menu-wrapper .menu > .current-menu-ancestor > a:hover {
/*    background: #fffdfd;*/
}
.menu-wrapper .menu > .current-menu-item > a:hover:after,
.menu-wrapper .menu > .current-menu-ancestor > a:hover:after {
    border-top-color: #fffdfd;
}
.menu-wrapper .menu > .current-menu-item > a:after,
.menu-wrapper .menu > .current-menu-ancestor > a:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
/*
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #f5d4d4;
*/
}
.menu-wrapper li + li a:before {
/*
    content: "*";
    color: #ffffff;
*/
    position: absolute;
    left: -0.5em;
    top: 0.2em;
    opacity: 0.8;
}
.menu-wrapper .sub-menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 18px 0 0 -0.7em;
    padding: 3px 0 0 0;
    position: absolute;
    max-height: 0em;
    overflow: hidden;
    list-style: none outside none;
    text-align: left;
    text-transform: none;
}
.menu-wrapper .sub-menu li {
    display: block;
/*
    background: #9b1c1b;
    margin-left: 0.7em;
    margin-right: 0.7em;
*/
}
.menu-wrapper .sub-menu a {
    margin: 0;
    white-space: nowrap;
/*
    line-height: 1.8em;
    border: none;
*/
}
.menu-wrapper .sub-menu a:hover {
/*    background: #781515;*/
}

.menu-wrapper .sub-menu li:last-child {
/*    padding-bottom: 0.26em;*/
}
.menu-wrapper .sub-menu li:last-child a {
/*    border-bottom: 1px dashed #dd4949;*/
}
.menu-wrapper li:hover .sub-menu {
    max-height: 30em;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
/* Responsive Menu */
@media screen and (max-width: 768px) {
    .js .menu-wrapper nav[role=navigation] {
        overflow: hidden;
        max-height: 0em;
    }
    .js .menu-wrapper nav[role=navigation].active {
        max-height: 30em;
        -webkit-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out;
    }
    .menu-wrapper {
        /* unhide the 2nd level */
        /* styling the toggle menu */
        /* arrow to indicate that we have subnav*/
    }
    .menu-wrapper a.menu-link {
        display: block;
        width: auto;
/*
        padding-right: 15px;
        padding-left: 10px;
*/
        border: none;
        margin: 0;
    }
    .menu-wrapper a.menu-link:hover {
/*        background: #9b1c1b;*/
    }
    .menu-wrapper a.menu-link.active .ico-caret-down:before {
        content: "\f0d8";
    }
    .menu-wrapper .menu .menu {
/*        padding-bottom: 5px;*/
    }
    .menu-wrapper .menu li {
        display: block;
/*        border: 1px solid pink;*/
        border: none;
    }
    .menu-wrapper .menu > li {
        padding: 0px;
        border: none;
    }
    .menu-wrapper .menu > li + li {
/*        border-top: 1px dashed #dd4949;*/
    }
    .menu-wrapper .menu a {
/*        padding: 0.5em 0;*/
        margin: 0px;
        border: none;
    }
    .menu-wrapper .menu a:hover {
/*        background: #9b1c1b;*/
    }
    .menu-wrapper .menu .rightalign {
        float: none;
    }
    .menu-wrapper li + li a:before {
        content: "";
    }
    .menu-wrapper li:hover .sub-menu {
        max-height: 0em;
        -webkit-transition: none;
        transition: none;
    }
    .menu-wrapper .sub-menu {
        background: none;
/*
        margin-left: 0px;
        margin-top: 1px;
*/
        display: block;
        width: 100%;
    }
    .menu-wrapper .sub-menu li,
    .menu-wrapper .sub-menu li a {
        margin: 0;
        display: block;
        width: 100%;
    }
    .menu-wrapper .sub-menu a {
        padding-left: 0.8em;
    }
    .menu-wrapper .sub-menu a:hover {
/*        background: #781515;*/
    }
    .menu-wrapper .sub-menu li {
/*        border-bottom: 1px dashed #dd4949;*/
    }
    .menu-wrapper .sub-menu li:last-child {
        padding: 0;
    }
    .menu-wrapper .sub-menu li:last-child a {
        border: none;
    }
    .menu-wrapper .menu .has-subnav {
        position: relative;
    }
    .menu-wrapper li .sub-menu.active {
        max-height: 30em;
        overflow: visible;
        position: relative;
        z-index: 9;
        -webkit-transition: max-height 0.5s ease-out;
        transition: max-height 0.5s ease-out;
    }
    .menu-wrapper .toggle-link {
        height: 67px;
        width: 60px;
        display: block;
        position: absolute;
        right: 0px;
        z-index: 200;
        font-size: 0em;
        cursor: pointer;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .menu-wrapper .toggle-link:hover {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
/*        background: #cf2524;*/
    }
    .menu-wrapper .menu .has-subnav > .toggle-link:after {
        content: "\f0d7";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        width: 50px;
        top: 50%;
/*        margin-top: -15px;*/
        bottom: 50%;
        right: 4px;
        font-size: 28px;
/*        color: #fff;*/
    }
    .menu-wrapper .menu .has-subnav > .toggle-link.active:after {
        content: "\f0d8";
        margin-top: -18px;
    }
}