@charset "utf-8";
/* CSS Document */

.outer-nav a{
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
.outer-nav a .fa{
    margin-right: 10px;
    font-size: 30px;
    min-width: 36px;
}
#showMenu{
    display: none;
    position: absolute;
    right: 1em;
    top: 2em;
    background: rgba(123, 46, 0, 0.98);
    color: #fff200;
    border: solid 1px #ce9b59;
    border-radius: 4px;
    font-size: 1.5em;
    padding: 3px 10px 1px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}
#showMenu:hover,
#showMenu:focus{
    border: solid 1px #fff;
    color: #fff;
}
.box{
    width: 1140px;
    margin: auto;
}
/* 1200px 
----------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
    .box {
        width: 970px;
    }
    .title-04{
        font-size: 30px;
    }
    .slider-text .author{
        margin-top: 2em;
    }
    .slider-img .caption h1{
        font-size: 30px;
    }
    .slider-img .caption p {
        font-size: 18px;
        margin-bottom: 0.5em;
    }
    .slider-text{
        padding: 20px 15px 70px;
    }
    .slider-text .author + .btn{
        font-size: 20px;
        height: 50px;
        line-height: 52px;
    }
    .title-03{
        font-size: 24px;
    }
    .about-demo > .left p{
        font-size: 26px;
    }
    
    .samples-box{
        width: 855px;
        margin: auto;
    }
}
/* 1080px
----------------------------------------------------------*/
@media only screen and (max-width: 1080px) {
    .box{
        width: 750px;
    }
    .header .icon .logo{
        min-width: 345px;
    }
    .header .icon img:not(:last-child) {
        margin-right: 5px;
    }
    .header .menu-big{
        padding: 15px 15px 25px 0;
    }
    .header .menu-big .bottom a{
        margin-left: 10px;
    }
    
    .slider-home .right .top{
        min-height: 300px;
    }
    .box-img-child .img-warpt{
        width: 70px;
        height: 70px;
    }
    .img-warpt + p{
        font-size: 10px;
    }
    /*========== Reset ==========*/
    .btn{
        font-size: 30px;
        height: 50px;
        line-height: 53px;
    }
    .btn-take{
        height: 60px;
        line-height: 62px;
        font-size: 20px;
    }
    .btn-take:before{
        width: 40px;
        height: 45px;
        background-size: contain;
    }
    .title{
        font-size: 20px;
    }
    .title-03{
        font-size: 22px;
    }
    .join .small{
        font-size: 18px;
    }
    .partner  .box > div >  p{
        margin-bottom: 5px !important;
    }
    .partner  .box > div{
        margin-bottom: 10px;
    }
    .article-menu li {
        margin-bottom: 15px;
    }
    .tabs-sp > label{
        display: block;
        text-align: left;
    }
    .show-content .warpt-img{
        margin-bottom: 10px;
    }
    .samples-box{
        width: 570px;
        margin-top: 15px;
    }    
}
/* 992px
----------------------------------------------------------*/
@media only screen and (max-width: 992px) {
    .box {
        width: 730px;
    }
    .header .menu-big{
        display: none;
    }
    #showMenu{
        display: block;
    }
    .slider-home .left{
        width: 55%;
    }
    .partner{
        padding: 25px 0 10px;
    }
    .title-03{
        line-height: inherit;
        padding-top: 25px;
    }
    .category-menu > div{
        width: 30%;
    }
    .about-demo > .left p{
        font-size: 18px;
    }
    .slider-03 .swiper-container{
        margin-left: auto;
        margin-right: auto;
        padding: 0 30px;
    }
}
/* 768px
----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .box {
        width: 100%;
        padding: 0 30px ;
    }
    .content{
        padding: 35px 0 30px;
    }
    .slider-home,
    .menu-mid,
    .category-menu,
    .slider-02 .swiper-slide{
        display: block;
    }
    
    .slider-home .left,
    .slider-home .right,
    .menu-mid > div,
    .slider-img,
    .slider-text,
    .category-menu > div,
    .article-box .left,
    .article-box .right,
    .checkout-address > div{
        width: 100%;
    }
    .slider-home .left,
    .slider-home .right{
        margin-bottom: 15px;
    }
    .slider-home .left .slider-01{
        max-height: inherit;
    }
    .slider-home .right .top{
        min-height: inherit;
    }
    .menu-mid > div,
    .category-menu > div,
    .partner  .box > div,
    .checkout-address > div{
        margin-bottom: 30px;
    }
    .menu-mid > div{
        text-align: center;
    }
    .menu-mid .title-02 + p {
        margin-top: 5px;
    }
    .gallery-showcase{
        margin-top: 50px;
    }
    .slider-02{
        margin-top: 20px;
    }
    .footer-link > div > p{
        margin-bottom: 5px;
    }
    .slider-text{
        margin-left: 0;
        padding-bottom: 85px;
    }
    .footer-link > div:not(:last-child){
        margin-right: 0;
    }
    .footer-link > div{
        width: 50%;
        margin-bottom: 30px;
    }
    h1, h2, h3, h4, h5, h6, h7, p{
        line-height: 1.4em;
    }
    .copy-right{
        padding: 20px 20px 15px;
    }
    .copy-right p{
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .about-demo{
        padding: 20px 20px 20px 30px;
    }
    .about-demo > .right p{
        font-size: 54px;
    }

    .checkout-box .table .tr > .td:first-child,
    .checkout-box .table .tr > .td:nth-child(2){
        width: inherit;
    }
    .checkout-box .table .tr > .td:nth-child(2){
        margin-left: 10px;
    }

    .flex > .btn.md{
        margin-bottom: 10px;
    }
    .chose-size-child{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .figures-child{
        text-align: left;
    }
    .btn-figures{
        margin-bottom: 10px;
    }
    .prices-table tfoot td{
        text-align: center;
    }
    .samples-box{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .samples-box .samples-item{
        width: 48%;
        height: inherit;
        margin: 5px 1%;
        float: none;
        clear: both;
    }
    .samples-box .samples-item:first-child{
        width: 100%;
        height: inherit;
    }
    .outer-nav{
        font-size: 1.2em;
    }
    .outer-nav a .fa{
        font-size: 24px;
    }
}
/*
    .checkout-box .table .tr > .td:first-child,
    .checkout-box .table .tr > .td:nth-child(2){
        width: inherit;
    }
    .checkout-box .table .tr > .td:nth-child(2){
        margin-left: 10px;
    }

    .checkout-box{
        overflow-x: scroll;
    }
    .checkout-box .table,
    .total-price{
        width: 675px;
    }

/* 576px
----------------------------------------------------------*/
@media only screen and (max-width: 576px) {
    
    .header .icon{
        display: none;
    }
    .about-demo > .left p{
        line-height: 1.2em;
        margin-top: 5px;
    }
    .about-demo > .left figure{
        border: 5px solid #fff;
    }
    .about-demo > .right{
        padding: 15px 15px 0;
    }
    .about-demo > .right p{
        font-size: 36px;
    }
    .title-detail{
        font-size: 26px;
    }
    .upload-child{
        display: block;
    }
    .custom-file{
        float: left;
    }
    .comment textarea{
        width: 100%;
    }
    .had-img + a.text-underline{
        margin-top: 10px;
        margin-left: 0;
    }
}
/* 480px
----------------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .title-03{
        font-size: 18px;
    }
    .slider-img .caption h1{
        font-size: 24px;
    }
    .subscribe .input-wrapt input{
        width: calc(100% - 120px);
    }
    .payment img{
        margin-bottom: 5px;
    }
    .header .icon .logo{
        width: calc(100% - 80px)
    }
    .footer-link > div{
        width: 100%;
        text-align: center;
    }
    .slider-03 .swiper-container{
        padding: 0 20px;
    }
    .double-input .input-group,
    .tripple-input .input-group:first-child{
        width: 100%;
    }
    .tripple-input .input-group:not(:first-child){
        width: 49%;
    }
    .title{
        font-size: 18px;
    }
    .cont-shopping .fa{
        margin-bottom: 10px;
    }
    .samples-box .samples-item{
        width: 100%;
    }
    .outer-nav a .fa{
        margin-right: 10px;
        font-size: 18px;
        min-width: 20px;
    }
    .btn{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;
    }
}
/* 390px
----------------------------------------------------------*/
@media only screen and (max-width: 390px){
    html, body{
        font-size: 14px;
    }
    .slider-img .caption p{
        font-size: 14px;
        margin-bottom: 0;
    }
    .slider-img .caption h1,
    .title-04{
        font-size: 20px;
    }
    .about-demo{
        padding: 25px 20px 10px;
        display: block;
    }
    .about-demo > .left,
    .about-demo > .right{
        width: 100%;
        margin-bottom: 20px;
    }
    .btn{
        font-size: 26px;
    }   
}
/* 320px
----------------------------------------------------------*/
@media only screen and (max-width: 320px){
    .btn{
        font-size: 22px;
    }
}







































